@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7Italic.woff2') format('woff2'),
        url('fonts/Digital-7Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
}
:root{
    --lcd: #fff;
    --light: #f1f1f1;
    --dark: #333;
    --dark2: #000022;
}
*, ::before ,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,
        var(--dark), var(--dark2));
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 7vw;
    margin:20px 0 ;
    color: var(--light);
}
h2{
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
    color: var(--light);
}
.affichage{
    background: var(--light);
    margin: 50px auto;
    width: 70%;
    max-width: 900px;
    min-width: 500px;
    display:flex ;
}
.bloc{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding:40px ;
}
.bloc p:nth-child(1){
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}
.bloc:nth-child(1){
    border-right: 1px solid var(--dark);
}
.container-btns{
    margin:0 auto ;
    width: 70%;
    max-width: 900px;
    min-width: 500px;
    display: flex;
    justify-content: center;
}
.btn{
    display: block;
    padding: 18px;
    font-size: 25px;
    width: 200px;
    border: 2px solid var(--dark);
    background: var(--light);
}
.btn:hover{
    cursor: pointer;
    color: var(--light);
    background: var(--dark);
    border: 1px solid var(--light);
    transition: .4s;
}
.btn:active{
    background: #888;
}
.affichageT, .affichageP{
    font-family: Digital-7;
    width: 120px;
    text-align: center;
    background: var(--dark);
    color: var(--lcd);
    padding: 8px 15px;
    text-shadow: 0px 0px 8px var(--lcd);
}